@import "./style";

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background: $primary;
  color: $font-light;
}

#app__icon {
  padding: 0px 25px;
  background: darken($primary, 25%);
}

.navbar__item {
  padding: 5px 15px;
  height: 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease-in-out;

  img {
    height: 32px;
    margin-right: 5px;
  }

  &:hover {
    background: darken($primary, 25%);
  }

  &:nth-child(even) {
    border-left: 1px solid $font-light;
    border-right: 1px solid $font-light;
  }
}