@import "./style";

/** Modal that creates ODBC databases **/
.odbc__container {
  @include modal();
  min-height: 300px;

  h4 {
    display: inline-block;
    margin: 5px;
  }

  input {
    width: 95%;
    padding: 2px 8px;
    font-size: 1.1rem;
  }

  span {
    font-size: 0.75rem;
    color: #999;
    margin-left: 5px;
    font-style: italic;
  }

  img {
    text-align: center;
  }
}

.odbc__button-container {
  margin-top: 15px;
}

.odbc__error {
  margin-left: 10px;
  margin-top: 3px;
  font-size: 0.8rem;
  color: red;
}

.odbc__success-container {
  text-align: center;
  color: green;
  font-size: 1.1rem;
  margin-top: 5px;
}

.odbc__loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
Modal that uses created odbc
databases to generate ScanEvents 
*/

.odbc_scan__container {
  @include modal();
  min-height: 300px;
  max-height: 500px;

  img {
    padding: 30px 0px;
    margin-left: calc(50% - 70px);
  }
}
.odbc_scan__database-container {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.database__container {
  cursor: pointer;
  padding: 5px 10px;

  &:hover {
    background: $font-light;
  }
}

.database__active {
  background: darken($font-light, 10%);
}

.database__name {
  font-size: 1.3rem;
}

.database__server {
  margin-left: 10px;
}

.database__server-label {
  font-size: 0.8rem;
  margin-right: 5px;
}

.database__server-value {
  color: #999;
}

.database__data_source {
  margin-left: 10px;
}

.database__data_source-label {
  font-size: 0.8rem;
  margin-right: 5px;
}

.database__data_source-value {
  color: #999;
}

