@import "./style";

.sidebar__container {
  width: 350px;
  margin: 15px 5px;
}

.sidebar__tabs {
  display: flex;
  flex-direction: row;
}

.sidebar__tab {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: $button;
  color: $font-light;
  cursor: pointer;
  border: 1px solid $button;
  transition: 0.15s ease-in-out;

  &:hover {
    background: lighten($font-light, 10%);
    color: $button;
  }
}

.sidebar__active {
  background: $font-light;
  color: $button;
}

/** Scan List & Items **/
.scan_list__items {
  margin: 10px 0px;
}

.scan_list__confirm {
  text-align: center;
  color: red;
  font-size: 0.85rem;
  margin-bottom: 5px;
}

.scan_list__error-container {
  text-align: center;
  color: red;
  font-size: 0.85rem;
  margin-bottom: 5px;
}

.scan_item__container {
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  &:hover {
    background: $font-light;
  }
}

.scan_item__active {
  background: darken($font-light, 10%);
}

.scan_item__type {
  flex: 1 1 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.scan_item__info {
  flex: 1 1 150px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.scan_item__date {
  color: #999;
  margin-left: 3px;
  font-size: 0.9rem;
}