@import "./style";

.tag_detail__container {
  position: relative;
  width: 90%;
}

#tag_detail__back {
  position: absolute;
  top: 0px;
  right: 25px;
}

.tag_detail__equation {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 10px;
  background: lighten(#999, 10%);
}

.tag_detail__tree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
}

.tree_item__container {
  margin-left: 25px;
}


/** D3 formatting */

.node circle {
  fill: #7ba7cc;
  stroke: #b44682;
  stroke-width: 1px;
  cursor: pointer;
}

.node text { 
  font-family: 'Roboto';
  font-size: 0.85rem;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

ul {
  list-style-type: none;
}