@import "./style";

.tag_detail__container {
  margin: 15px 40px;
  position: relative;
  width: 90%;

  a {
    text-decoration: none;
  }
}

#tag_detail__return {
  width: 225px;
}

.tag_detail__header {
  padding: 15px;
  font-size: 1.8rem;
  background: darken($primary, 25%);
  color: white;
}

.tag_detail__info {
  margin-top: 15px;
  border: 1px solid darken($primary, 25%);
}

.tag_detail__labels {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 85%;

  h3 {
    display: inline-block;
    margin: 0px 10px;
  }
}

.tag_detail__label {
  flex: 1 1 200px;
}

#tag_detail__back {
  position: absolute;
  top: 0px;
  right: 25px;
}

.tag_detail__equation {
  padding: 15px 35px;
  background: $secondary;
}

.tag_detail__ancestor-chart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tree_item__container {
  margin-left: 25px;
}
