@import "./style";

.tag_detail__container {
  margin: 15px 40px;
  position: relative;
  width: 90%;
}

.tag_detail__labels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 85%;

  h3 {
    display: inline-block;
    margin-right: 10px;
  }
}

.tag_detail__label {
  flex: 1 1 200px;
}

#tag_detail__back {
  position: absolute;
  top: 0px;
  right: 25px;
}

.tag_detail__equation {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 10px;
  background: lighten(#999, 10%);
}

.tag_detail__ancestor-chart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
}

.tree_item__container {
  margin-left: 25px;
}

#ancestor__container {
  max-height: 600px;
  overflow: auto;
}
