@import "./style";

.taglist__outer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.taglist__container {
  max-width: 100%;
  flex: 4 1 auto;
  padding: 15px 10px 0px 10px;

  @media(min-width: 900px) {
    max-width: calc(100% - 385px);
  }
  
  button {
    @include button();
    height: 30px;
  }

}

.filter_table__filter-bar {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.filter_table__filter-container {
  height: 100%;
  margin-right: 15px;
  border-bottom: 1px solid #999;

  input {
    height: 25px;
    padding-left: 10px;
    font-size: 1.2rem;
    border-radius: 2px;
    outline: none;
    border: none;
  }
}

.filter_table__header-cell {
  height: 40px;
  font-size: 1.3rem;
}

.filter_table__body {
  margin: 5px 0px;
}

.filter_table__row {
  cursor: pointer;
  padding: 2px 5px;
  border-top: 1px solid $secondary;
  border-left: 1px solid $secondary;

  transition: 0.1s ease-in-out;
  
  &:hover {
    background: lighten($button, 45%);
  }

  &:nth-child(odd) {
    background: lighten($secondary, 10%);
  }
}

.filter_table__cell {
  white-space: nowrap;
}
